node_modules/
.next/
out/
dist/
.env
.env.local
*.log
.DS_Store
# foundry
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/*/31337/
*.tsbuildinfo
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/types/
